@using BM.WMS.Web.Areas.SystemInfo.Models.Common.Modals
@model LookupModalViewModel

@Html.Partial("~/Areas/SystemInfo/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.Title ?? L("SelectAnItem")))

<div class="modal-body">
    <form>
        <div class="input-group margin-bottom-10">
            <input class="form-control lookup-filter-text" placeholder="@L("SearchWithThreeDot")" type="text">
            <span class="input-group-btn">
                <button class="btn default lookup-filter-button" type="submit"><i class="icon-magnifier"></i></button>
            </span>
        </div>
    </form>
    <div class="lookup-modal-table">
        <table id="LookupModalList"></table>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn default close-button" data-dismiss="modal">@L("Cancel")</button>
</div>